li{
    list-style-type: none;
}
body{
    background: url(../img/diwen1.png) repeat;
}
*{margin:0;padding:0;list-style-type:none;}
/*跳到顶部  悬浮*/
.upward {
  width: auto;
  height: 0px;
  background-color: #3E3D43;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 100px;
  right: 0px;
  z-index: 999;
  cursor: pointer;
  color: white;
  float: left;
  line-height: 50px;
  text-align: center;
  display: none;
  
}

.upward ul {
  width: 50px;
  height: 150px;
  position: relative;
}

.upward ul li {
  width: 100px;
  height: 50px;
  float: left;
  background-color: #3E3D43;
  position: absolute;
  right: -50px;
}


.upward img {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}


.header_box{
    width: 100%;
    height:auto;
    padding-bottom: 40px;
    float: left;
    background-color: #27AE60;
        nav{
        width: 100%;
        height: 71px;
            .container1{
            margin: 0 auto;
            height: 100%;
            padding-top: 15px;
            @media only screen and (min-width:1200 ) {
                    width: 600px; }
            .img_1{
                    width: 40px;
                    height: auto;
                    float: left;
                    }
            .line{
                    width: 2px;
                    height: 25px;
                    margin: 9px 10px;
                    background-color: white;
                    float: left;
                }
            h3{
                    color: white;
                    margin-top:9px;
                    float: left;
                    small{
                        color:lightyellow;
                        margin-left: 5px;
                    }
                }
            ul{
                    width: auto;
                    height: 100%;
                    float: right;
                    li{
                        float: left;
                        line-height: 45px;
                        color: white;
                        margin-right: 5px;
                        cursor: pointer;
                    
                    }
                }
    }
}
}
//头部中间内容
.header_main_box {
    text-align: center;
    color: white;
    padding: 0px;
    h1 {
            margin-top: 0px;
            font-size: 4.5em;
        }
    input {
            padding: 10px;
            text-align: center;
            border-radius:0 ;
            box-shadow: none;
            height: 50px;
            max-width: 600px;
            font-size: 1.2em;   
        }
    .form-group{
            margin: 30px auto;
            max-width: 600px;
            height: 50px;
            position: relative;
            overflow: hidden;
            img{
                    width: 20px;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
                //搜索字体范围
            .search_fonts{
                    margin-top: 20px;
                    height: 230px;
                    width: 100%;
                    background:url(../img/diwen1.png) repeat ;
                    box-sizing: border-box;
                    border: 5px solid beige;
                    position: relative;
                    img{
                       
                        position: absolute;
                        width: 15%;
                        top: 30%;
                        left: 45%;
                    }
                    
                }
        }
}
//学习的分类
.student_menu{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
    float: left;
    border: 1px solid gainsboro;
    ul{
        margin:0 auto ;
        width:250px;
        height: 100%;
        li{
            width:auto;
            height:20px ;
            float:left;
            margin-top: 15px;
            margin-left: 20px;
            img{
                height: 100%;
            }
        }
    }
    
}

//展示方式

.zhanshi_moshi_box{
    width: 100%;
    height: 50px;
    float: left;
    margin: 20px 0 20px 0;
    .zhanshi_moshi{
        height: 50px;
        margin: 0 auto;
        .btn-group{
            width: 300px;
            float: right;
            margin-top: 10px;
            p{
                float: left;
                line-height: 35px;
                font-weight: bold;
                font-size: 0.5em;
                border: 0px !important;
            }
            button{
                padding: 0px;
                width: 54px;
                height: 34px;
                &:hover{
                    border: 1px solid #27AE60 !important;
                }
                  a{
                    color: black;
                    text-decoration: none;
                    width: 52px;
                    height: 32px;
                    text-align: center;
                    line-height: 34px;
                    display: block;
                    &:hover{
                            background-color: #27AE60;
                            color: white;
                    }
                    
                }
            }
        }
    }
}

//首页
.mibear{
//卡片
.card_box1{
    width: 100%;
    margin: 0 auto;
    float: left;
    .li1{
        height: auto;
        /*box-shadow: 0px 0px 1px #27AE60;*/    
        padding-top: 20px;
        margin-bottom: 20px;
        .title{
            margin-bottom: 15px;
            font-size: 1.5em;
        }
        small{
            color: gray;
        }
        .imgs img{
            width:100%;
            border: 1px solid beige;
            margin-bottom: 10px;
        }
    }
    .li2{
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        color: lightslategray;
        cursor: pointer;
        height: 30px;
        padding: 0px !important; 
        overflow: auto;
        position: relative;
        span{
            width: 100%;
            height: 28px;
            display: block;
            line-height: 30px;
            
        }
        span:hover{
            background-color: #27AE60;
            color: white;  
        }
        .img1{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: auto;
            z-index: 1;
            display: none;
        }
        .img2{
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 40px;
            z-index: 999;
            display: none;
        }
    }
    
}
}
//底部
.bottom_box{
    width: 100%;
    height: auto;
    background-color: #27AE60;
    float: left;
    margin-top: 60px;
    color: white;
    img{
        width: 100%;
    }
}
/*缓慢变色*/
.huanmanColor{
    animation: mycolor 5s;
    -moz-animation: mycolor 5s; /* Firefox */
    -webkit-animation: mycolor 5s;  /* Safari 和 Chrome */
    -o-animation: mycolor 5s;   /* Opera */
    
}
/*绿色 39,174,96  黑色 39,40,34 */
@keyframes mycolor
{
    0% {background:rgba(39,174,96,0.9);}
    50% {background:rgba(39,174,96, 0.5);}
    50% {background:rgba(39,40,34, 0.9);}
    100% {background:rgba(39,40,34, 1);}
}

@-moz-keyframes mycolor /* Firefox */
{
    0% {background:rgba(39,174,96,0.9);}
    50% {background:rgba(39,174,96, 0.5);}
    50% {background:rgba(39,40,34, 0.9);}
    100% {background:rgba(39,40,34, 1);}
}

@-webkit-keyframes mycolor /* Safari 和 Chrome */
{
    0% {background:rgba(39,174,96,0.9);}
    50% {background:rgba(39,174,96, 0.5);}
    50% {background:rgba(39,40,34, 0.9);}
    100% {background:rgba(39,40,34, 1);}
}

@-o-keyframes mycolor /* Opera */
{
    0% {background:rgba(39,174,96,0.9);}
    50% {background:rgba(39,174,96, 0.5);}
    50% {background:rgba(39,40,34, 0.9);}
    100% {background:rgba(39,40,34, 1);}
}

/*缓慢变色还原*/
.huanmanColor2{
    animation: mycolor2 5s;
    -moz-animation: mycolor2 5s;    /* Firefox */
    -webkit-animation: mycolor2 5s; /* Safari 和 Chrome */
    -o-animation: mycolor2 5s;  /* Opera */
    
}
/*绿色 39,174,96  黑色 39,40,34 */
@keyframes mycolor2
{
    0% {background:rgba(39,40,34,0.9);}
    50% {background:rgba(39,40,34, 0.5);}
    50% {background:rgba(39,174,96, 0.9);}
    100% {background:rgba(39,174,96, 1);}
}

@-moz-keyframes mycolor2 /* Firefox */
{
    0% {background:rgba(39,40,34,0.9);}
    50% {background:rgba(39,40,34, 0.5);}
    50% {background:rgba(39,174,96, 0.9);}
    100% {background:rgba(39,174,96, 1);}
}

@-webkit-keyframes mycolor2 /* Safari 和 Chrome */
{
    0% {background:rgba(39,40,34,0.9);}
    50% {background:rgba(39,40,34, 0.5);}
    50% {background:rgba(39,174,96, 0.9);}
    100% {background:rgba(39,174,96, 1);}
}

@-o-keyframes mycolor2 /* Opera */
{
    0% {background:rgba(39,40,34,0.9);}
    50% {background:rgba(39,40,34, 0.5);}
    50% {background:rgba(39,174,96, 0.9);}
    100% {background:rgba(39,174,96, 1);}
}


