<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>小熊一乐/熊一乐个人博客</title>
		<meta name="Keywords" content="小熊一乐，熊一乐">
		<meta name="Description" content="小熊一乐·熊一乐个人博客,这个世界需要一点任性去爱你喜欢的人">
		<!--让 IE 浏览器运行最新的渲染模式下-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--可以让部分国产浏览器默认采用高速模式渲染页面：-->
		<meta name="renderer" content="webkit">
		<!--为了确保适当的绘制和触屏缩放 设置 meta 属性为 user-scalable=no 可以禁用其缩放（zooming）功能-->		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" type="image/x-icon" href="32px_ico_header.ico" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/mibear.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		
	  <!--第二页-->
	  <!-- CSS Reset 重置 -->
	  <!--<link rel="stylesheet" href="css/mibear_btn2/reset.css">-->
	
	  <!-- Global CSS for the page and tiles -->
	  <link rel="stylesheet" href="css/mibear_btn2/main.css">
	
	  <!-- Specific CSS for the tiles -->
	  <link rel="stylesheet" href="css/mibear_btn2/style.css">
	  	
	  		
	  	<!--第二页-->
	  	<!--<link rel="stylesheet" type="text/css" href="css/mibear_btn2.css"/>-->
	  	
	  	<!--第三页-->
	  	<!--<link rel="stylesheet" type="text/css" href="css/ceshi/default.css">-->
	    <!--<link href='css/ceshi/style.css' rel='stylesheet'>-->
		
	</head>
	<body ng-app="myapp" ng-controller="contor" >
		<!--跳到顶部  悬浮-->
		<!--跳到顶部  悬浮-->
		<!--跳到顶部  悬浮-->
		<div class="upward" id="upward">
			<ul>
				<li class="upward-li3" onclick="upward()"><img src="img/up_1.png" alt="顶部" />返回</li>
			</ul>
		</div>
		<!--跳到顶部  悬浮 end-->
		<!--跳到顶部  悬浮 end-->
		<div class="header_box ">
			<!--导航-->
			<nav>
				<div class="container container1 " >
					
					<img src="img/bear_logo_512px.png" class="img_1"/> 
					<span class="line"></span>
					<h3>Mibear<small class="hidden-xs">web all</small></h3>
					
					<ul class="nav navbar navbar-right">
						<a ui-sref="mibear_btn1" href=""><li>项目</li></a>
						<a ui-sref="mibear_btn2" href=""><li>视觉</li></a>
						<li class="huancolor">心情</li>
					</ul>
				</div>	
			</nav>
			<!--搜索名称等-->
			<div class="col-xs-12 header_main_box">
				<h1>Mibear<small>web</small></h1>	
				<p>This is my personal website, here I have my style, here I have my life and my values</p>
  				<footer>watch the diversion project <kbd>Mystic entrance</kbd></footer>
  				
  				<div class="form-group">
  					<input type="text" class="form-control " placeholder="Look for answers in dictionaries">
  					
  					<img src="img/Search.png"/>
  					<!--搜索等待-->
					<div class="search_fonts">
						<img src="img/dengdai_1.png" alt="" id="xzimg" />
					</div>
  				</div>
			</div>
		</div>
		
		<!--学习的分类-->
		<div class="student_menu hidden-xs">
			<ul>
				<li><img src="img/angular-icon.svg" alt="" /></li>
				<li><img src="img/jquery.svg" alt="" /></li>
				<li><img src="img/bootstrap.svg" alt="" /></li>
			</ul>
		</div>
		
		<!--展示方式-->
		<div class="zhanshi_moshi_box">
			<div class="container zhanshi_moshi">
				<div class="btn-group" role="group">
					<p>展示方式：</p>
				  	<button type="button" class="btn btn-default"><a ui-sref="mibear_btn1" href="">style</a></button>
				  	<button type="button" class="btn btn-default"><a ui-sref="mibear_btn2" href="">water</a></button>
				  	<button type="button" class="btn btn-default"><a ui-sref="mibear_btn3" href="">eye</a></button>
				</div>
			</div>
		</div>
		<!--外部加载页面-->
		 	<div ui-view="" class="ngviews ngviews1" ></div>
		<!--外部加载页面 end-->
		<div class="bottom_box">
			<div class="container">
				<div class="col-md-5 ">
					<dl>
					  <h3>关于mibear</h3>
					  <dd>mibear Is my personal website, of course, is actually more of my project, I love githb, love more blog Garden, 
					  	my hobby is of course foreign literature reading is my hobby, crazy excited me makes me happy and according to 
					  	the wonderful world of course is very beautiful</dd>
					<br />
					<address>
					  <strong>wChat, QQ.</strong><br>
					 2017, opening, construction continued <br>
					  <abbr title="Phone">P:</abbr> (888) 888-888
					</address>
					<address>
					  <strong>Full Name</strong><br>
					  <a href="mailto:#" style="color: gainsboro;">xmibear@yeah.net</a>
					</address>
					</dl>
				</div>
				<div class="col-md-2">
					<h3>友情链接</h3>
						<dd ng-repeat="yqx in yqnames" ng-bind="yqx.name"></dd>
						
				</div>
				<div class="col-md-2">
					<h3>web技术</h3>
						<dd ng-repeat="jsx in jsnames" ng-bind="jsx.name"></dd>
				</div>
				<div class="col-md-3 imgs">
					<img src="img/bear_logo_512px.png"/>
				</div>
			</div>
		</div>
		
		<script src="framework/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="framework/jQueryRotate.2.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="framework/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="framework/angular-1-4-6.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="framework/angular-ui-router.min.js" ></script>
		<script src="framework/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="js/mibear.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mibear_ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/module/module_1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mibear_up.js" type="text/javascript" charset="utf-8"></script>

		<!--第二页-->
		<!-- Include the imagesLoaded plug-in -->
		<script src="js/mibear_btn2/jquery.imagesloaded.js"></script>
		<!-- Include the plug-in -->
		<script src="js/mibear_btn2/jquery.wookmark.js"></script>
		  
		<!--第三页-->
		<script type="text/javascript" src="js/mibear_btn3/lateral-eye.js"></script>
		<script type="text/javascript" src="js/mibear_btn3/jquery.jkey-1.1.js"></script>
		
	</body>
</html>
