@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

a {
  color: #333333;
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: "微软雅黑";
}

.main_box {
  width: 1903px;
  height: auto;
  margin: 0 auto;
}

.main_box .modular_1 {
  width: 1903px;
  height: 480px;
  margin: 0 auto;
}

.main_box .modular_1 img {
  width: 100%;
  height: 100%;
}

.main_box .null_1 {
  width: 100%;
  height: 88px;
}

.main_box .modular_2 {
  width: 1249px;
  height: auto;
  margin: 0 auto;
}

.main_box .modular_2 .title {
  width: 100%;
  height: 69px;
  text-align: center;
}

.main_box .modular_2 .title a {
  width: 100%;
  font-size: 40px;
  margin-bottom: 27px;
  float: left;
}

.main_box .modular_2 .title span {
  width: 74px;
  height: 4px;
  display: block;
  margin-left: 47%;
  float: left;
  background-color: #fccd00;
}

.main_box .modular_2 .null_2 {
  width: 100%;
  height: 90px;
}

.main_box .modular_2 .left_box {
  width: 500px;
  height: 370px;
  float: left;
}

.main_box .modular_2 .left_box .title1 {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.main_box .modular_2 .left_box .title2 {
  width: 100%;
  height: auto;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 59px;
  float: left;
  text-align: center;
}

.main_box .modular_2 .left_box .form_box {
  width: 500px;
  height: auto;
  float: left;
}

.main_box .modular_2 .left_box .form_box form input {
  height: 48px;
  color: #333333;
  border: 1px solid #a9a9a9;
  padding-left: 20px;
  outline: none;
  font-size: 16px;
  font-family: "宋体";
  font-weight: bold;
}

.main_box .modular_2 .left_box .form_box form .input1, .main_box .modular_2 .left_box .form_box form .input2 {
  width: 217px;
  float: left;
}

.main_box .modular_2 .left_box .form_box form .input1 {
  margin-right: 20px;
}

.main_box .modular_2 .left_box .form_box form .input3 {
  width: 477px;
  float: left;
  margin-top: 20px;
  margin-bottom: 46px;
}

.main_box .modular_2 .left_box .form_box form .button {
  width: 150px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: white;
  background-color: #fccd00;
  border: 0px;
  padding: 0px !important;
  margin-left: 175px;
  cursor: pointer;
}

.main_box .modular_2 .right_img {
  width: 635px;
  height: 370px;
  background: url(../../../img/www/xm_amountRoom/ar_2.jpg) no-repeat;
  float: right;
}

.main_box .null_3 {
  width: 100%;
  height: 124px;
  float: left;
}

.main_box .modular_3 {
  width: 100%;
  height: 551px;
  background: url(../../../img/www/xm_amountRoom/ar_21.png) no-repeat;
  float: left;
}

.main_box .modular_3 .null_31 {
  width: 327px;
  height: 100%;
  float: right;
}

.main_box .modular_3 .main_box {
  width: 709px;
  height: 551px;
  float: right;
}

.main_box .modular_3 .main_box .null_32 {
  width: 100%;
  height: 97px;
  float: left;
}

.main_box .modular_3 .main_box .title {
  width: 670px;
  height: auto;
  text-align: center;
  float: left;
  margin-bottom: 42px;
  margin-left: -22px;
}

.main_box .modular_3 .main_box .title a {
  width: 100%;
  font-size: 30px;
  margin-bottom: 20px;
  float: left;
}

.main_box .modular_3 .main_box .title span {
  width: 74px;
  height: 4px;
  display: block;
  margin-left: 47%;
  float: left;
  background-color: #fccd00;
}

.main_box .modular_3 .main_box .circular_box {
  width: 100%;
  height: 208px;
  float: left;
}

.main_box .modular_3 .main_box .circular_box .circular_1 {
  width: 186px;
  height: 100%;
  text-align: center;
  float: left;
}

.main_box .modular_3 .main_box .circular_box .circular_1 img {
  display: block;
  margin-left: 25px;
  width: 134px;
}

.main_box .modular_3 .main_box .circular_box .circular_1 a {
  display: block;
  margin-top: 14px;
  font-size: 17px;
}

.main_box .modular_3 .main_box .circular_box .circular_3 {
  width: 225px;
}

.main_box .modular_3 .main_box .circular_box .circular_3 img {
  margin-left: 36px;
}

.main_box .modular_3 .main_box .circular_box .triangle {
  float: left;
  width: 52px;
  height: 80px;
  position: relative;
}

.main_box .modular_3 .main_box .circular_box .triangle img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 16px;
}

.main_box .null_4 {
  width: 100%;
  height: 113px;
  float: left;
}

.main_box .modular_4 {
  width: 100%;
  height: auto;
  float: left;
}

.main_box .modular_4 .main_box {
  width: 1410px;
  height: auto;
  margin-left: 246px;
}

.main_box .modular_4 .main_box .title {
  width: 100%;
  height: 69px;
  text-align: center;
}

.main_box .modular_4 .main_box .title a {
  width: 100%;
  font-size: 40px;
  margin-bottom: 27px;
  float: left;
}

.main_box .modular_4 .main_box .title span {
  width: 74px;
  height: 4px;
  display: block;
  margin-left: 47%;
  float: left;
  background-color: #fccd00;
}

.main_box .modular_4 .main_box .null_5 {
  width: 100%;
  height: 90px;
  float: left;
}

.main_box .modular_4 .main_box .news {
  width: 100%;
  height: 202px;
  float: left;
  margin-bottom: 30px;
}

.main_box .modular_4 .main_box .news img {
  width: 300px;
  height: 200px;
  float: left;
}

.main_box .modular_4 .main_box .news .texts {
  width: 1030px;
  height: 200px;
  margin-left: 80px;
  float: left;
}

.main_box .modular_4 .main_box .news .texts a {
  width: 100%;
  display: block;
}

.main_box .modular_4 .main_box .news .texts .a1 {
  font-size: 30px;
  margin-bottom: 29px;
}

.main_box .modular_4 .main_box .news .texts .a2 {
  font-size: 17px;
  color: black;
  line-height: 30px;
}

.main_box .modular_4 .main_box .null_6 {
  width: 100%;
  height: 117px;
  float: left;
}
