@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  color: black;
  font-size: 29.73px;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

.public_a1 {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
}

.public_a2 {
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
}

.public_a2 .public_a2_img {
  width: 190px;
  height: auto;
}

.ny_DS {
  width: 100%;
  min-width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
}

.ny_DS .ds_banner {
  width: 100%;
  height: auto;
  float: left;
}

.ny_DS .ds_banner img {
  width: 100%;
  height: 100%;
  float: left;
}

.ny_DS .modular_1_box {
  width: 100%;
  height: 460px;
  float: left;
}

.ny_DS .modular_1_box .modular_1 {
  width: 1200px;
  height: 402px;
  margin: 0 auto;
  padding-top: 58px;
}

.ny_DS .modular_1_box .modular_1 .ul1 {
  width: 100%;
  height: auto;
  margin-top: 41px;
  float: left;
}

.ny_DS .modular_1_box .modular_1 .ul1 .li1 {
  width: 210px;
  height: auto;
  float: left;
  margin-right: 120px;
  text-align: center;
}

.ny_DS .modular_1_box .modular_1 .ul1 .li1 img {
  width: 124px;
  height: 124px;
}

.ny_DS .modular_1_box .modular_1 .ul1 .li1 img:hover {
  animation: 1s m1_li1_img infinite;
  -moz-animation: 1s m1_li1_img infinite;
  -ms-animation: 1s m1_li1_img infinite;
  -webkit-animation: 1s m1_li1_img infinite;
}

@keyframes m1_li1_img {
  0% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.1, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
}

@-moz-keyframes m1_li1_img {
  0% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.1, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
}

@-ms-keyframes m1_li1_img {
  .ny_DS .modular_1_box .modular_1 .ul1 .li1 img 0% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
  .ny_DS .modular_1_box .modular_1 .ul1 .li1 img 50% {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.1, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
  }
  .ny_DS .modular_1_box .modular_1 .ul1 .li1 img 100% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
}

@-webkit-keyframes m1_li1_img {
  0% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
    -ms-transform: scale(1.1, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
  }
}

.ny_DS .modular_1_box .modular_1 .ul1 .li1 .a3 {
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  margin-top: 15px;
  font-size: 29.72px;
  color: #08587c;
}

.ny_DS .modular_1_box .modular_1 .ul1 .li1 .a4, .ny_DS .modular_1_box .modular_1 .ul1 .li1 .a5 {
  width: 100%;
  float: left;
  height: auto;
  text-align: center;
  margin-top: 10px;
  font-size: 15.86px;
  color: #08587c;
}

.ny_DS .modular_1_box .modular_1 .ul1 .li2 {
  margin-right: 0;
}

.ny_DS .modular_2_box {
  margin-top: 45px;
  width: 100%;
  height: auto;
  float: left;
}

.ny_DS .modular_2_box .modular_2 {
  width: 1200px;
  height: 587px;
  margin: 0 auto;
}

.ny_DS .modular_2_box .modular_2 .m2_left {
  width: 596px;
  height: 554px;
  float: left;
  border-top: 4px solid #40bfe8;
  padding-top: 33px;
}

.ny_DS .modular_2_box .modular_2 .m2_left .a1 {
  margin-bottom: 39px;
}

.ny_DS .modular_2_box .modular_2 .m2_left .imgText {
  width: 200px;
  height: auto;
  float: left;
  margin-left: 66px;
  margin-bottom: 31px;
}

.ny_DS .modular_2_box .modular_2 .m2_left .imgText img {
  width: 125px;
  height: 85px;
  float: left;
  margin-left: 30px;
}

.ny_DS .modular_2_box .modular_2 .m2_left .imgText img:hover {
  animation: 2s imgText infinite;
  -moz-animation: 2s imgText infinite;
  -ms-animation: 2s imgText infinite;
  -webkit-animation: 2s imgText infinite;
}

@keyframes imgText {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-moz-keyframes imgText {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-ms-keyframes imgText {
  .ny_DS .modular_2_box .modular_2 .m2_left .imgText img 0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .ny_DS .modular_2_box .modular_2 .m2_left .imgText img 50% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  .ny_DS .modular_2_box .modular_2 .m2_left .imgText img 100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-webkit-keyframes imgText {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.ny_DS .modular_2_box .modular_2 .m2_left .imgText a {
  text-align: center;
  width: 100%;
  height: auto;
  float: left;
  margin-top: 18px;
  color: #666666;
  font-size: 19.82px;
}

.ny_DS .modular_2_box .modular_2 .m2_right {
  width: 604px;
  height: 554px;
  float: left;
  border-top: 4px solid #ffd634;
  padding-top: 33px;
}

.ny_DS .modular_2_box .modular_2 .m2_right .a1 {
  margin-bottom: 39px;
}

.ny_DS .modular_2_box .modular_2 .m2_right form {
  width: 362px;
  height: 350px;
  margin-left: 118px;
  float: left;
}

.ny_DS .modular_2_box .modular_2 .m2_right form .inp1 {
  width: 344px;
  height: 60px;
  margin-bottom: 24px;
  border: 1px solid #d3d3d3;
  padding-left: 18px;
  font-size: 23.79px;
  float: left;
}

.ny_DS .modular_2_box .modular_2 .m2_right form .inp2 {
  margin-top: 16px;
  width: 362px;
  height: 60px;
  font-size: 23.79px;
  color: white;
  background-color: #40bfe8;
  cursor: pointer;
  float: left;
  border: 0;
}

.ny_DS .modular_2_box .modular_2 .m2_right form .inp2:hover {
  animation: 1s m2_input_btn infinite;
  -moz-animation: 1s m2_input_btn infinite;
  -ms-animation: 1s m2_input_btn infinite;
  -webkit-animation: 1s m2_input_btn infinite;
}

@keyframes m2_input_btn {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@-ms-keyframes m2_input_btn {
  .ny_DS .modular_2_box .modular_2 .m2_right form 0% {
    transform: rotate(-3deg);
  }
  .ny_DS .modular_2_box .modular_2 .m2_right form 50% {
    transform: rotate(5deg);
  }
  .ny_DS .modular_2_box .modular_2 .m2_right form 0% {
    transform: rotate(0deg);
  }
}

@-moz-keyframes m2_input_btn {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes m2_input_btn {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(5deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.ny_DS .modular_2_box .modular_2 .m2_right .a3 {
  margin-top: 38px;
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
  font-size: 19.82px;
  color: #8c8c8c;
}

.ny_DS .modular_2_box .modular_2 .m2_right .a3 span {
  font-size: 23.79px;
  color: #40bfe8;
}

.ny_DS .modular_3_box {
  width: 100%;
  height: 801px;
  float: left;
  margin-top: 49px;
  padding-top: 49px;
}

.ny_DS .modular_3_box .modular_3 {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.ny_DS .modular_3_box .modular_3 .yh_logo {
  width: 829px;
  height: 256px;
  float: left;
  margin-top: 44px;
  margin-left: 185px;
}

.ny_DS .modular_3_box .modular_3 .yh_logo ul {
  width: 100%;
  height: 100%;
}

.ny_DS .modular_3_box .modular_3 .yh_logo ul li {
  width: 274.33333px;
  height: 100%;
  text-align: center;
  float: left;
}

.ny_DS .modular_3_box .modular_3 .yh_logo ul li img {
  width: 180px;
  height: 180px;
}

.ny_DS .modular_3_box .modular_3 .yh_logo ul li img:hover {
  animation: 1s yh_logo_img forwards;
  -ms-animation: 1s yh_logo_img forwards;
  -moz-animation: 1s yh_logo_img forwards;
  -webkit-animation: 1s yh_logo_img forwards;
}

@keyframes yh_logo_img {
  from {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@-ms-keyframes yh_logo_img {
  .ny_DS .modular_3_box .modular_3 .yh_logo ul li img from {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  .ny_DS .modular_3_box .modular_3 .yh_logo ul li img to {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@-moz-keyframes yh_logo_img {
  from {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@-webkit-keyframes yh_logo_img {
  from {
    transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

.ny_DS .modular_3_box .modular_3 .yh_logo ul li a {
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
  color: black;
  font-size: 23.79px;
  margin-top: 40px;
}

.ny_DS .modular_3_box .modular_3 .yh_a {
  width: 695px;
  height: 68px;
  float: left;
  margin-top: 52px;
  margin-left: 250px;
  margin-bottom: 61px;
  text-align: center;
  line-height: 68px;
  color: black;
  font-size: 29.73px;
  border: 1px solid #f57f80;
  border-radius: 66px;
}

.ny_DS .modular_3_box .modular_3 .yh_a span {
  color: #ff3738;
}

.ny_DS .modular_3_box .modular_3 .yh_a:hover span {
  color: white;
}

.ny_DS .modular_3_box .modular_3 .yh_a:hover {
  animation: 1s m3_yh_a forwards;
}

@keyframes m3_yh_a {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ff3738;
  }
}

.ny_DS .modular_3_box .modular_3 .bz4 {
  width: 100%;
  height: 180px;
  float: left;
}

.ny_DS .modular_3_box .modular_3 .bz4 a {
  color: white;
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul {
  width: 100%;
  height: auto;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li1 {
  width: 180px;
  height: 180px;
  background-color: #ff3738;
  border-radius: 10px;
  float: left;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li1 a:first-of-type {
  font-size: 47.57px;
  margin-top: 32px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li1 a:last-of-type {
  font-size: 29.73px;
  margin-top: 10px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li_j1 {
  width: 65px;
  height: 39px;
  float: left;
  margin-left: 40px;
  margin-top: 69px;
  margin-right: 26px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li_j1 img {
  width: 100%;
  height: 100%;
  float: left;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li3 {
  width: 219px;
  height: 180px;
  float: left;
  background-color: #40bfe8;
  border-radius: 10px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li3 a:first-of-type {
  font-size: 47.57px;
  margin-top: 32px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li3 a:last-of-type {
  font-size: 29.73px;
  margin-top: 10px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li3:hover {
  animation: 1s li3_img forwards;
  -moz-animation: 1s li3_img forwards;
  -webkit-animation: 1s li3_img forwards;
  -ms-animation: 1s li3_img forwards;
}

@keyframes li3_img {
  0% {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
  50% {
    transform: rotateX(-20deg);
    -ms-transform: rotateX(-20deg);
    /* IE 9 */
    -moz-transform: rotateX(-20deg);
    /* Firefox */
    -webkit-transform: rotateX(-20deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(-20deg);
    /* Opera */
  }
  100% {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li_j {
  width: 65px;
  height: 39px;
  float: left;
  margin-left: 24px;
  margin-top: 69px;
  margin-right: 24px;
}

.ny_DS .modular_3_box .modular_3 .bz4 ul .li_j img {
  width: 100%;
  height: 100%;
  float: left;
}

.ny_DS .modular_4 {
  width: 100%;
  height: auto;
  float: left;
  padding-bottom: 49px;
}

.ny_DS .modular_4 .main_box {
  width: 993px;
  height: 345px;
  margin: 0 auto;
}

.ny_DS .modular_4 .main_box .title {
  width: 100%;
  float: left;
  height: 42px;
  border-bottom: 1px solid #40bfe8;
  color: #40bfe8;
  font-size: 23.79px;
  text-align: left;
  margin-bottom: 28px;
}

.ny_DS .modular_4 .main_box .left_box {
  width: 423px;
  height: auto;
  float: left;
}

.ny_DS .modular_4 .main_box .left_box .a1 {
  width: 423px;
  height: 40px;
  float: left;
  margin-bottom: 16px;
  font-size: 19.82px;
  color: black;
}

.ny_DS .modular_4 .main_box .left_box .a1 select, .ny_DS .modular_4 .main_box .left_box .a1 input {
  width: 257px;
  height: 38px;
  border: 1px solid #b8b8b8;
  font-size: 18.82px;
}

.ny_DS .modular_4 .main_box .left_box .a_btn {
  width: 257px;
  height: 38px;
  background-color: #40bfe8;
  border: 1px solid #40bfe8;
  color: white;
  font-size: 18.82px;
  text-align: center;
  line-height: 38px;
  margin-left: 98px;
  float: left;
  cursor: pointer;
}

.ny_DS .modular_4 .main_box .cont_box {
  width: 300px;
  height: auto;
  float: left;
  margin-top: 73px;
}

.ny_DS .modular_4 .main_box .cont_box a {
  font-size: 17.84px;
  color: black;
  float: left;
}

.ny_DS .modular_4 .main_box .cont_box a span {
  font-size: 29.73px;
  color: #40bfe8;
}

.ny_DS .modular_4 .main_box .right_box {
  width: 250px;
  height: 100px;
  float: right;
  margin-top: 53px;
  border-left: 2px solid #40bfe8;
}

.ny_DS .modular_4 .main_box .right_box a {
  width: 100%;
  height: 33px;
  float: left;
  text-align: center;
  line-height: 33px;
  font-size: 17.84px;
}

.ny_DS .modular_4 .main_box .right_box a span {
  color: #40bfe8;
}

.ny_DS .modular_5_box {
  width: 100%;
  height: 569px;
  float: left;
  padding-top: 51px;
}

.ny_DS .modular_5_box .modular_5 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.ny_DS .modular_5_box .modular_5 .img_txt {
  width: 329px;
  height: auto;
  margin-left: 194px;
  float: left;
  margin-top: 48px;
}

.ny_DS .modular_5_box .modular_5 .img_txt img {
  width: 256px;
  margin-left: 36.5px;
  height: auto;
  float: left;
}

.ny_DS .modular_5_box .modular_5 .img_txt img:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  /* IE 9 */
  -moz-transform: scale(1.1, 1.1);
  /* Firefox */
  -webkit-transform: scale(1.1, 1.1);
  /* Safari 和 Chrome */
  -o-transform: scale(1.1, 1.1);
  /* Opera */
}

.ny_DS .modular_5_box .modular_5 .img_txt .img2 {
  width: 270px;
  margin-left: 29.5px;
}

.ny_DS .modular_5_box .modular_5 .img_txt a {
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
}

.ny_DS .modular_5_box .modular_5 .img_txt .a1 {
  color: #2a7ab7;
  font-size: 17.84px;
  margin-bottom: 15px;
  margin-top: 35px;
}

.ny_DS .modular_5_box .modular_5 .img_txt .a2, .ny_DS .modular_5_box .modular_5 .img_txt .a3 {
  font-size: 11.89px;
  color: #333333;
}

.ny_DS .modular_5_box .modular_5 .img_txt1 {
  margin-left: 154px;
}

.ny_DS .modular_6 {
  width: 100%;
  height: auto;
  float: left;
}

.ny_DS .modular_6 img {
  width: 100%;
  height: auto;
}

.ny_DS .modular_7_box {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 48px;
  padding-bottom: 48px;
}

.ny_DS .modular_7_box .modular_7 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.ny_DS .modular_7_box .modular_7 .img_txt {
  width: 400px;
  height: 493px;
  float: left;
  overflow: hidden;
  margin-top: 35px;
  position: relative;
}

.ny_DS .modular_7_box .modular_7 .img_txt img {
  width: 100%;
  height: auto;
  float: left;
}

.ny_DS .modular_7_box .modular_7 .img_txt .a1 {
  width: 309px;
  height: auto;
  float: left;
  margin-top: 92px;
  margin-left: 48px;
  color: #666666;
  font-size: 13.88px;
}

.ny_DS .modular_7_box .modular_7 .img_txt .a2 {
  position: absolute;
  top: 182px;
  left: 135.5px;
  width: 129px;
  height: 129px;
  text-align: center;
  line-height: 129px;
  border-radius: 129px;
  background-color: #90e1fb;
  font-size: 29.73px;
  color: white;
}

.ny_DS .modular_7_box .modular_7 .img_txt .a2_1 {
  background-color: #ffcc01;
}

.ny_DS .modular_7_box .modular_7 .img_txt:hover {
  background-color: white;
  box-shadow: 1px 1px 15px gainsboro;
}

.ny_DS .modular_7_box .modular_7 .img_txt:hover .a2 {
  animation: 1s m7_img_txt_hover forwards;
  -moz-animation: 1s m7_img_txt_hover forwards;
  -ms-animation: 1s m7_img_txt_hover forwards;
  -webkit-animation: 1s m7_img_txt_hover forwards;
}

@keyframes m7_img_txt_hover {
  0% {
    background-color: #90e1fb;
  }
  100% {
    background-color: #ffcc01;
  }
}

.ny_DS .modular_7_box .modular_7 .img_txt2 {
  background-color: white;
}

.ny_DS .modular_8_box {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 49px;
  padding-bottom: 56px;
}

.ny_DS .modular_8_box .modular_8 {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.ny_DS .modular_8_box .modular_8 .div1 {
  width: 600px;
  height: 291px;
  float: left;
  border-top: 5px solid #ffcc01;
  padding-top: 29px;
}

.ny_DS .modular_8_box .modular_8 .div1 a {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  color: black;
}

.ny_DS .modular_8_box .modular_8 .div1 .a1 {
  font-size: 29.73px;
  margin-bottom: 15px;
}

.ny_DS .modular_8_box .modular_8 .div1 .a2 {
  font-size: 23.79px;
  margin-bottom: 48px;
}

.ny_DS .modular_8_box .modular_8 .div1 .img_box {
  width: 140px;
  height: 140px;
  border-radius: 140px;
  float: left;
  position: relative;
  margin-left: 41px;
}

.ny_DS .modular_8_box .modular_8 .div1 .img_box img {
  width: 140px;
  height: 140px;
}

.ny_DS .modular_8_box .modular_8 .div1 .img_box a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 29.73px;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  text-align: center;
  line-height: 140px;
  color: #00c1ff;
}

.ny_DS .modular_8_box .modular_8 .div1 .img_box:hover {
  animation: 1s img_box_hov forwards;
  -moz-animation: 1s img_box_hov forwards;
  -webkit-animation: 1s img_box_hov forwards;
  -ms-animation: 1s img_box_hov forwards;
}

@keyframes img_box_hov {
  from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
  to {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -moz-transform: rotateX(360deg);
    /* Firefox */
    -webkit-transform: rotateX(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(360deg);
    /* Opera */
  }
}

@-ms-keyframes img_box_hov {
  .ny_DS .modular_8_box .modular_8 .div1 from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
  .ny_DS .modular_8_box .modular_8 .div1 to {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -moz-transform: rotateX(360deg);
    /* Firefox */
    -webkit-transform: rotateX(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(360deg);
    /* Opera */
  }
}

@-moz-keyframes img_box_hov {
  from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
  to {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -moz-transform: rotateX(360deg);
    /* Firefox */
    -webkit-transform: rotateX(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(360deg);
    /* Opera */
  }
}

@-webkit-keyframes img_box_hov {
  from {
    transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    /* IE 9 */
    -moz-transform: rotateX(0deg);
    /* Firefox */
    -webkit-transform: rotateX(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(0deg);
    /* Opera */
  }
  to {
    transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    /* IE 9 */
    -moz-transform: rotateX(360deg);
    /* Firefox */
    -webkit-transform: rotateX(360deg);
    /* Safari 和 Chrome */
    -o-transform: rotateX(360deg);
    /* Opera */
  }
}

.ny_DS .modular_8_box .modular_8 .m8_right {
  border-top: 5px solid #40bfe8;
}

.ny_DS .modular_8_box .modular_8 .m8_right .img4 {
  width: 136px;
  height: 136px;
  float: left;
  margin: 32px 0 20px 231px;
}

.ny_DS .modular_8_box .modular_8 .m8_right .img4:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  /* IE 9 */
  -moz-transform: scale(1.1, 1.1);
  /* Firefox */
  -webkit-transform: scale(1.1, 1.1);
  /* Safari 和 Chrome */
  -o-transform: scale(1.1, 1.1);
  /* Opera */
}

.ny_DS .modular_8_box .modular_8 .m8_right .a_iphone {
  width: 276px;
  height: 49px;
  text-align: center;
  float: left;
  line-height: 49px;
  background-color: #40bfe8;
  color: white;
  font-size: 23.79px;
  margin-left: 159px;
}
